<!-- patient_list.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <!-- Patient List Section -->
        <div class="row">
            <div class="col-md-7 mx-auto p-3 form-container">
                <h2 class="text-white bg-dark text-center p-3" style="font-family: 'Garamond'; border: 2px solid white; padding: 10px;">
                    Patient List
                </h2>
                <ul class="list-group">
                    {% for patient in patients %}
                        <!-- Display Patient Information Here -->
                    {% endfor %}
                </ul>
                <a href="{% url 'patient_add' %}" class="btn btn-success text-light mt-3" style="font-family: 'Garamond'; font-weight: bold;">Add Patient</a>
            </div>
        </div>
        <!-- End Patient List Section -->
    </div>
{% endblock %}
